* {
  padding: 0;
  margin: 0;
}

.container {
  background-color: #fff;
  max-width: 500px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;

  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.top-section {
  flex-grow:1;
  padding: 30px 20px;
}

.top-section .title {
  font-size:20px;
  color: #40e0d0;
}

.top-section .header {
  color: #008080;
  font-size:32px;
}

.middle-section {
  flex-grow:1;
  padding: 0px 20px;
}

.bottom-section {
  flex-grow:1;
  padding: 30px 20px;
}

.bottom-section button {
  width: 100%;

  background: #008080;
  padding: 10px 30px;
  border-radius: 10px;
  outline: none;
  color: #fff;
  font-weight: 600;
  border-style: none;
  cursor: pointer;
}

.height-title {
  display: inline-flex;
}

.height {
  float: right;
  display: inline-flex;
}
