* {
  padding: 0;
  margin: 0;
}

.container {
  color: white;
  background: linear-gradient(145deg, #2193b0, #6dd5ed);
  max-width: 500px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  flex-grow: 1;
  background-size: cover;
}

.top-section {
  display: flex;
  flex-direction: column;
  height:40vh;
}

.top-section .search-bar {
  display: flex;

  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.city {
  border: 0;
  outline: 0;
  padding: 3px 3px 3px 20px;
  background: transparent;
  height: 20px;
  color: white;
}

.top-section .row {
  margin-bottom: 5px;
  display: flex;
  padding: 0px 20px 20px;
}

.top-section .item {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.top-section .item-right {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: end;
  align-items: end;
}

.top-section .item .label {
  font-weight: bold;
}

.temperature {
  font-size: 60px;
  font-weight: lighter;
  line-height: 1;
  position: relative;
}

.temperature::after {
  content: '°C';
  position: absolute;
  font-size: 15px;
}

.city-name {
  font-size: 13px;
  margin-bottom: 3px;
}

.weather-state {
  font-size: 13px;
}

.weather-icon {
  width: 60px;
  height: 60px;
}

.bottom-section {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  font-size: 14px;
  text-align:center;
  color:black;
}

.bottom-section .row {
  margin-bottom: 5px;
  display: flex;
}

.bottom-section .item {
  display: flex;
  flex-direction: column;
  flex: 1;
}


.humidity {
  flex-grow: 1;
  line-height: 1;
  font-weight: bold;
}

.humidity::after {
  content: '%';
  font-weight: 100;
}

.temperature-max-min {
  flex-grow: 1;
}

.temperature-max {
  line-height: 1;
  font-weight: bold;
}

.temperature-max::after {
  content: '°C';
  font-weight: 100;
}

.temperature-min {
  line-height: 1;
  font-weight: 500;
}

.temperature-min::after {
  content: '°C';
  font-weight: 100;
}

.win-speed {
  flex-grow: 1;
  line-height: 1;
  font-weight: bold;
}
.win-speed::after {
  content: 'km/h';
  font-weight: 100;
}